<% provide(:title, "Home") %>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<% if logged_in? %>
<p>tree</p>

<% else %>
<!-- <div class="center jumbotron mdl-shadow--2dp" id="car">
      <h1>Welcome to AdmitHero</h1>
      <h2 class="custom">This is the home page of AdmitHero Webapp. This is the home page of AdmitHero Webapp. This is the home page of AdmitHero Webapp. This is the home page of AdmitHero Webapp.</h2>
      <p>test edit</p>
</div>

<div class="center jumbotron mdl-shadow--2dp" id="car2">
      <p>scroll down</p>
      <h1 class="custom">Welcome to AdmitHero</h1>
      <h2 class="custom">This is the home page of AdmitHero Webapp</h2>
      <p>test edit</p>
</div> -->


<!-- <div class="mdl-grid"> -->
	
<div id="mouse">
      
  <div>
  	<% flash.each do |message_type, message| %>
		<div class="alert alert-<%= message_type %>"><%= message %></div>
		<% end %>
	</div>
	
	<div class="center-title">
		<h3 class="title">We're not the super hero you've been looking for, we're the Admit Hero you need.</h3>
	</div>

<!--   <div class="sign-up-form">
    <%= form_for(@user) do |f| %>
    	<%= render 'shared/error_messages' %>
    	
			<div class="mdl-textfield mdl-js-textfield textfield-demo user-text">
      	<%= f.label :name, class: 'mdl-textfield__label' %>
      	<%= f.text_field :name, class: 'mdl-textfield__input' %>
      </div>

      <div class="mdl-textfield mdl-js-textfield textfield-demo user-text">
      	<%= f.label :email, class: 'mdl-textfield__label' %>
      	<%= f.email_field :email, class: 'mdl-textfield__input' %>
      </div>

      <div class="mdl-textfield mdl-js-textfield textfield-demo user-text">
      	<%= f.label :password, class: 'mdl-textfield__label' %>
      	<%= f.password_field :password, class: 'mdl-textfield__input' %>
      </div>

      <div class="mdl-textfield mdl-js-textfield textfield-demo user-text">
      	<%= f.label :password_confirmation, class: 'mdl-textfield__label' %>
      	<%= f.password_field :password_confirmation, class: 'mdl-textfield__input' %>
      </div>

      <div class="user-text">
      <%= f.submit "Create my account", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored create-button" %>
      </div>
    <% end %>
	</div> -->

	<button type="button" class="create-button" href="#">Take me on a Journey</a>
</div>


<a name="works"></a>

<div class="example">
	<div class="heading">
		<h2>Here's how we promise to save you</h2>
	</div>
	<div id="pic1" class="picture"></div>
	<div class="text">
		<h5>Find awesome content</h5>
		<h6>Read articles on how to win the top scholarships, get into amazing summer programs, do well on standardized tests, and much, much more.</h6>
		<p>Lolita, light of my life, fire of my loins. My sin, my soul. Lo-lee-ta: the tip of the tongue taking a trip of three steps down the palate to tap, at three, on the teeth. Lo. Lee. Ta. (Lolita, Vladimir Nabokov)</p>
	</div>
	<div class="divider"></div>
	<div id="text2" class="text">
		<h5>Hear from successful students</h5>
		<h6>Watch video interviews and read profiles of students who've already done it all. Authentic, insightful advice.</h6>
		<p>Call me Ishmael. Some years ago - never mind how long precisely - having little or no money in my purse, and nothing particular to interest me on shore, I thought I would sail about a little and see the watery part of the world. It is a way I have of driving off the spleen and regulating the circulation. (Moby Dick, Herman Melville)</p>
	</div>
	<div id="pic2" class="picture"></div>
	<div class="divider"></div>
	<div id="pic3" class="picture"></div>
	<div id="text3" class="text">
		<h5>Get your own personalized feed</h5>
		<h6>It's all about you. Based on your interests, you get a customized feed of articles, scholarships and even colleges that you might like.</h6>
		<p>The studio was filled with the rich odour of roses, and when the light summer wind stirred amidst the trees of the garden, there came through the open door the heavy scent of the lilac, or the more delicate perfume of the pink-flowering thorn. (The Picture of Dorian Gray, Oscar Wilde)</p>
	</div>
</div>

<div class="grid">
	<div class="grid-cell cell1">
		<h3 class="grid-text">Get organized</h3>
	</div>
	<div class="grid-cell cell2">
		<h3 class="grid-text">Find scholarships</h3>
	</div>
	<div class="grid-cell cell3">
		<h3 class="grid-text">Student <span>profiles</span></h3>
	</div>
	<div class="grid-cell cell4">
		<h3 class="grid-text">Discover opportunities</h3>
	</div>
</div>

<div id="scholarship-logos">
	<div class="scholarship-header">
		<h2>Scholarships</h2>
	</div>
<!-- 	<div class="logo-div"><img class="logo-img" src="http://i.imgur.com/Zg5DKuT.gif" title="Coca Cola" /></div>
	<div class="logo-div"><img class="logo-img" src="http://i.imgur.com/JVG172G.gif" title="HACER" /></div>
	<div class="logo-div"><img class="logo-img" src="http://i.imgur.com/6JREqc2.png" title="Horatio Alger" /></div>
	<div class="logo-div"><img class="logo-img" src="http://i.imgur.com/BZUYARe.gif" title="KFC" /></div>
	<div class="logo-div"><img class="logo-img" src="http://i.imgur.com/dv44K0Q.gif" title="Comcast" /></div>
	<div class="logo-div"><img class="logo-img" src="http://i.imgur.com/DAAz3ND.gif" title="Lowe's" /></div>
	<div class="logo-div"><img class="logo-img" src="http://i.imgur.com/9rOTCl9.gif" title="Jackie Robinson" /></div>
	<div class="logo-div"><img class="logo-img" src="http://i.imgur.com/BMoYZWK.gif" title="Questbridge" /></div>
	<div class="logo-div"><img class="logo-img" src="http://i.imgur.com/zkVYPrs.gif" title="Thiel Fellowship" /></div>
	<div class="logo-div"><img class="logo-img" src="http://i.imgur.com/dQpzah3.gif" title="Buick Achievers" /></div> -->
	<div class="logos-div"></div>
</div>

<div class="logos">
	<div class="logos-title">
		<h2 class="logos-text">What students are saying about admithero...</h2>
	</div>
	<div class="logos-testimonial">
		<img class="profile" src="http://loremflickr.com/300/300/paris,travel" />
		<h6>Jane A.</h6>
		<q>It is a truth universally acknowledged, that a single man in possession of a good fortune, must be in want of a wife.</q>
		<br/>
		<p><br/>Awards won:</p>
		<img src="http://loremflickr.com/100/100/cats" alt="Cat photo" />	<img src="http://loremflickr.com/100/100/fashion">
	</div>
	<div class="logos-testimonial">
		<img class="profile" src="http://loremflickr.com/300/300/china,travel,landscape" />
		<h6>Sylvia P.</h6>
		<q>It was a queer, sultry summer, the summer they electrocuted the Rosenbergs, and I didn’t know what I was doing in New York.</q>
		<br/>
		<p><br/>Awards won:</p>
		<img src="http://loremflickr.com/100/100/nature" />	<img src="http://loremflickr.com/100/100/nightlife" />
	</div>
	<div class="logos-testimonial">
		<img class="profile" src="http://loremflickr.com/300/300/london" />
		<h6>Italo C.</h6>
		<q>You are about to begin reading Italo Calvino's new novel, If on a winter's night a traveler.</q>
		<p><br/>Awards won:</p>
		<img src="http://loremflickr.com/100/100/award" />	<img src="http://loremflickr.com/100/100/medal" />
	</div>
</div>

<div id="button-div">
	<a href=signup class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored create-button">Interested? Sign up now!</a>
</div>
<% end %>
