<%= provide(:title , 'Article') %>


<h1><%= @article.title %></h1>
<h2>
	<% @tags.each do |taglib| %>
		<%= taglib.tag %>
	<% end %>
</h2>

<p>
<%= @article.description %>
</p>

<p>
<%= @article.content %>
</p>