<%= provide(:title , 'Article') %>

<div class="top-margin profile article">

<h1><%= @article.title %></h1>
<!--<h3>-->
<!--	<% @tags.each do |taglib| %>-->
<!--		<%= taglib.tag %>-->
<!--	<% end %>-->
<!--</h3>-->

<!--<p>-->
<!--<%= @article.description %>-->
<!--</p>-->


<!--<p>-->
<pre>
<span class="nob">
<%= @article.content %>
</span>
</pre>
<!--</p>-->
</div>